<template>
  <div>
    <h2><%= data.name %></h2>
    <h2>{{ message }}</h2>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from "vue";
  const message = ref(0);
</script>

<style scoped></style>
